$os: "" !default;
$theme: "" !default;

/* 目录 */
.md-toc {
  font-size: var(--toc-font-size);
}
.md-toc-content {
  margin-left: 2em;
  break-after: page;
}
.md-toc-inner {
  margin-left: 0 !important;
  @if $theme == "light" {
    color: var(--text-color) !important;
  } @else if $theme == "dark" {
    color: #dddddd !important;
  }
}
.md-toc-item {
  @if $theme == "light" {
    color: var(--text-color) !important;
  } @else if $theme == "dark" {
    color: #dddddd !important;
  }
}

/* 目录标题内容属性 */
.md-toc-h2,
.md-toc-h3,
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
  font-size: var(--toc-font-size);
  font-family: var(--toc-font), var(--base-latin-font), var(--base-chinese-font),
    serif;
}
.md-toc-h2 {
  font-weight: var(--strong-weight);
}

